article{
    float: left;
    width: 60%;
    height: 300px;
    overflow: hidden;
    margin: 30px;
    margin-left: 10%;
    background: #ffffff;
}
.article-main{
    width: 95%;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    color: #333;
}
.casa-mess{
    float: left;
    width: 25%;
    height: 300px;
    overflow: hidden;
    background: #fff;
}